<div class='analysis'>
   
<div class='jumbo'>
  <a href='/'>
  <img src="assets/images/logo.png" class="logo"></a>
</div>

   <h1 id='errorMsg'>{{ error }}</h1>
   <p>
   <a href="/" id='tryagain'>Try another topic</a></p>
   
</div>
