<div class='jumbo'>


  <img src="assets/images/logo.png" class="logo">
    <br><br>
<p class='tagline'>Get a broader perspective on the topics you care about most.</p>


<div class='div2'>
    <form class="topic-form" autocomplete="off" id='keywordForm'>
        <div class="form-group"><br><br>
          <input type="text" id="keyword" name="keyword" type="submit" ><br>
          {{!-- <button type="submit" id="submitKeyword" class='submitBtn keywordSubmit'>Analyze</button> --}}
        </div>
  </form>
  <br>


{{ recentTopics }}
</div>
</div>


<footer>
{{!-- Images from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3113668" class="subtleLink">Pixabay</a> --}}

</footer>

{{!-- <fb:login-button id="fb_login"
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button> --}}

