
.googleBox {
    overflow: hidden;
    padding:0;
    text-align: center;
}

.card {
    padding:0px;
    margin:0px;
    display:inline-block;
    border-radius:3px;
    vertical-align: top;
    border:none;
    margin-bottom:24px;
    margin-top:20px;
border-radius:12px;
overflow: hidden;
    background-color:white;
    height:450px;
    position: relative;
    margin:4px;
    box-shadow:0 0 8px rgb(20, 36, 50);
}

.cardImageDiv {
    width:100%;
    background-color:white;
    box-sizing: border-box;
    max-height:200px;
    overflow: hidden;
    position: relative;
}
.cardImage {
    width:102%;
    position: relative;
    left:-2px;
    top:-2px;

}

.stats {
    color:white;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    font-size:1.35em;
}

#wordCloudLink {
    color:rgba(255, 255, 255, .8);
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:1.35em;
}

.countNumber {
   

}

.googleTitle {
    text-align: center;
    color:white;
}

.factCheckBox {
    background-color:rgba(255, 255, 255, .5);
    width:200px;
    display:inline-block;
    margin:4px;
    color:black;
    border-radius:4px;
    box-shadow:0 0 20px rgb(133, 133, 133);
    vertical-align: top;
    text-align: left;
    font-size:.8em;
    padding-left:8px;
    box-sizing: border-box;
}

/* This is the news source logo such as CNN or FoxNews */
.userImage {
    width:60px;
    height:60px;
    float:left;
    display:inline-block;
}
.source {
    height:60px;
    background-color:#dddddd;
    text-transform: capitalize;
    font-weight: bold;
    box-sizing: border-box;
    position: absolute;
    bottom:0;
    width:100%;

}
.source p {
    text-align: left;
    padding-left:80px;
}
.cardTextDiv {

  
}
.cardText {
    text-align: left;
    padding:10px;
    font-size:1em;
    margin:0;
    padding-top:0;
    color:#555555;
}

.cardTitle {
    font-size:16px;
    font-weight:700;
    margin:0;
    padding:0;
    text-align: left;
    padding:5px;
}
.feedContainer
{
    background-color:rgb(94, 138, 206);
    padding-bottom:200px;
    margin-bottom:20px;
}
.feed {
    box-sizing: border-box;
    width:100%;
    float:none;
    display:block;
    margin:0;
    text-align: center;
    position: relative;
    height:100%;
   
}

.blueFeed {
    background-color:blue;

}

.redFeed {
    background-color:rgb(210, 0, 0);
}

.factCheck {
    background-color: #d6d6cf;
    padding-top: 5px;
    color: rgb(93, 93, 91);
    padding-bottom: 5px;
}

.factCheckHead {
    font-size: 1.35em;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin:0;
    color: rgba(255, 255, 255, 1);
}

ul.factCheckList {
    list-style-type: none;
    padding-bottom: 30px;
    text-align: center;
}

ul.factCheckList li {
    display: inline-block;
}
.factCheckLabel {
    font-weight: bold;
    background-color: transparent;
    padding-left: 15px;
    padding-right: 3px;
}

.factCheckItem {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255, .75);
    color: rgb(144, 141, 141);
}

.errorMsg {
    background-color:red;
    color:white;
    font-size:.9em;
    font-weight: bold;
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding:8px;
    display:none;
}

.topic {
    display: inline;
    font-weight: bold;
    font-size: .9em;
    color: white;
    background-color: rgba(255, 255, 255, .25);
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.topicHead {
    color: rgba(255, 255, 255, .5);
}

ul {
    text-align: center;
}



/* Styles for Larger screens */
@media only screen and (min-width:800px) {

    .feed {
 
    }

    .card {
        width:20%;
    }


}

@media only screen and (min-width:1000px) {

}


@media only screen and (min-width:1600px) {

}